/* a tag that launches modal from main view */
.open-modal {
    cursor: pointer;
    &:focus {
        outline: -webkit-focus-ring-color auto 3px;
    }
}

/* Mostly copied over  from https://github.com/reactjs/react-modal/blob/master/examples/bootstrap/app.css */
.ReactModal__Overlay {
    z-index: 9999;
    -webkit-perspective: 600;
    perspective: 600;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding-bottom: 150px;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    // transition: opacity 50ms ease-out;
}

.ReactModal__Content {
    // -webkit-transform: scale3d(0.5, 0.5, 0.5) rotateX(-30deg);
    // transform: scale3d(0.5, 0.5, 0.5) rotateX(-30deg);
    opacity: 0;
    backface-visibility: hidden;
    max-width: 80%;
    // margin-top: 10%;
    margin-top: 30px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);

    .modal-content {
        padding: 0 18px;
        padding-bottom: 36px;

        h2, h4 {
            font-weight: 400;
        }

        h4:not[class='achievement-name'] {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p {
            font-weight: 300;
        }
    }

    // &.confirm-modal {
    //     max-width: 30%;
    //
    //     .modal-footer {
    //         padding-bottom: 0;
    //     }
    // }
}

.ReactModal__Content--after-open {
    // -webkit-transform: scale3d(1, 1, 1) rotateX(0deg);
    // transform: scale3d(1, 1, 1) rotateX(0deg);
    opacity: 1;
    transition: all 150ms ease-in;
    backface-visibility: hidden;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content--before-close {
    // -webkit-transform: scale3d(0.5, 0.5, 0.5) rotateX(30deg);
    // transform: scale3d(0.5, 0.5, 0.5) rotateX(30deg);
    // transition: all 150ms ease-in;
    backface-visibility: hidden;
}

.ReactModal__Content.modal-dialog {
    border: none;
    background-color: transparent;
}

.ReactModal__Content .modal-close-container {
    padding-top: 15px;
    padding-right: 15px;
}

@projects (min-width: 1000px) {
    .modal-md {
        max-width: 800px;
    }
}

@projects (min-width: 1500px) {
    .modal-lg {
        max-width: 1200px;
    }
}

@projects (min-width: 500px) {
    .modal-sm {
        max-width: 400px;
    }
}
